<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
    crossorigin="anonymous"
/>
<div id="container">
    <div id="header">
        <h1 routerLink="/home">Spotted : 7 différences</h1>
    </div>
    <div *ngIf="endGame()">
        <app-endgame-modal class="end-game" [userName]="userName" [isLt]="true"></app-endgame-modal>
    </div>
    <div id="canvas-container">
        <app-play-area-lt
            [srcOriginalImg]="gamesShuffle[0]?.srcOriginal"
            [srcModifiedImg]="gamesShuffle[0]?.srcModified"
            [diffArray]="gamesShuffle[0]?.arrDiff"
            [isEndGame]="endGame()"
            [isHost]="false"
            [isSolo]="true"
            [nbHints]="nbHints"
            [isReplay]="false"
        ></app-play-area-lt>
        <div id="container-right">
            <div class="quit">
                <button class="button-quit" (click)="goHome()" [disabled]="isEndGame">Abandonner</button>
            </div>
            <div class="quit">
                <button class="button-quit" (click)="leaveGame()" [disabled]="isEndGame">Retour selection</button>
            </div>
            <div class="timer">
                <app-stopwatch-lt
                    [isTimeOut]="isEndGame"
                    class="infos-stopwatch-counter"
                    id="stopwatch"
                    [disabled]="isEndGame"
                    (timeOutEvent)="timeOut()"
                    (finalTime)="receiveTime($event)"
                ></app-stopwatch-lt>
            </div>
            <div class="chat">
                <app-chat-box [isDisabled]="true"></app-chat-box>
            </div>
        </div>
    </div>
    <div id="word-container">
        <p id="word">Nom: Temps Limité</p>
        <p id="mode-jeu">Mode de Jeu : Solo</p>
        <p>Nom du joueur: {{ userName }}</p>
        <p id="differences-restantes">Différences trouver : {{ modeSoloService.getNumberOfDifferences() }} par {{ userName }}</p>
    </div>
    <app-hints [nbHints]="nbHints" [diffArray]="gamesShuffle[0]?.arrDiff"></app-hints>
</div>
