<div class="container">
    <app-header></app-header>
    <div id="title" class="title">Spotted : trouve les 7 différences</div>
    <div class="title"></div>
    <section id="menu">
        <div class="button-mode">
            <button id="Classique" class="button" routerLink="/selection">Classique</button>
            <button id="Temps-limite" class="button" type="button" routerLink="/limitedTimeMenu">Temps limité</button>
            <button id="Configuration" class="button" routerLink="/config">Configuration</button>
        </div>
    </section>
    <footer class="footer-item">
        <div id="team-number" class="team">Équipe 207</div>
        <p id="teammates" class="team">
            <span>Marco Bureau</span>, <span>Clémentine Chailleux</span>, <span>Jacob Ducas</span>, <span>Thierry Huber</span>,
            <span>Cédrick Nicolas</span>, <span>Amira Tamakloe</span>
        </p>
        <p>Copyright © 2023 Équipe 207. All rights reserved</p>
    </footer>
</div>
